bin/
obj/
*.user
*.suo
.vs/
.vscode/
*.cshtml.published
*.dll.pdb
*.pdb
*.psess
*.vsp
*.vspx
*.nupkg
*.orig
bin
obj
packages
*.cache
*.userprefs
*.pidb
*.dll.config
*.exe.config
appsettings.Local.json
